<main class="container mt-5">
  <div class="row">
    <div class="col-6">
      <form autocomplete="off">
        <div class="mb-3">
          <label for="txtName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="txtName">
        </div>

        <div class="mb-3">
          <label for="txtApellido" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="txtApellido">
        </div>

        <div class="mb-3">
          <label for="txtEdad" class="form-label">Edad</label>
          <input type="number" class="form-control" id="txtEdad">
        </div>

        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Edad</th>
          <th scope="col">Condición</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Jair</td>
          <td>Tello Vargas</td>
          <td>26</td>
          <td>Jair es mayor de edad</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
